<p> create your account! </p>
<form action="<%= users_url %>", method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="user_email">email:
        <input type="text" id="user_email" name="user[email]" value="">
    </label>

    <br />

    <label for="user_password">password:
        <input type="text" id="user_passwod" name="user[password]" value="">
    </label>

    <br />

    <input type="submit" value="sign up!"/>
</form>